{#- Date display macro -#}
{% macro entry_date(date) %}
  {%- if date -%}
    {{ fg(lightwhite) }}
      {%- if cols > 42 -%}
        {{ date | datefmt('long') }}
      {%- else -%}
        {{ date | datefmt }}
      {%- endif -%}
    {{ reset }}
    {%- if cols > 60 -%}
      {#- #} ({{ date | longreldate }})
    {%- endif -%}
  {%- else -%}
    {{ fg(lightblack) }}--{{ reset }}
  {%- endif -%}
{% endmacro %}

{#- Tag list -#}
{%- set tags -%}
  {%- if entry.tags | length > 0 -%}
    {%- for tag in entry.tags -%}
      {{ tc[tag] | default(c.tag) }}+{{ tag }} {# -#}
    {%- endfor -%}
  {%- else -%}
    {{ fg(lightblack) }}--
  {%- endif -%}
  {{ reset }}
{%- endset -%}

{#- Max width -#}
{%- set maxw = min(cols, 96) -%}

{#- Field output -#}
{{ c.divider }}{{ fill('-', maxw) }}{{ reset }}
{{ entry.desc }}
{{ c.divider }}{{ fill('-', maxw) }}{{ reset }}
{{ c.field }} status:   {{ reset }}{{ entry.status }}
{{ c.field }} when:     {{ reset }}{{ entry_date(entry.when) }}
{{ c.field }} due:      {{ reset }}{{ entry_date(entry.due) }}
{{ c.field }} end:      {{ reset }}{{ entry_date(entry.end) }}
{{ c.field }} repeat:   {{ reset }}{{ entry.repeat | default(fg(lightblack) ~ "--") }}
{{ c.field }} tags:     {{ reset }}{{ tags }}

{{ c.field }} created:  {{ reset }}{{ entry_date(entry.created) }}
{{ c.field }} modified: {{ reset }}{{ entry_date(entry.modified) }}
{{ c.field }} urgency:  {{ reset }}{{ entry.urgency | numfmt('{:.3}') }}

{% if entry.sid -%}
  {{ c.field }} sid:      {{ reset }}{{ entry.sid }}
{% endif -%}
{{ c.field }} uuid:     {{ reset }}{{ break }}{{ entry.id | trunc(maxw - 11, '…') }}
{{ c.field }} path:     {{ reset }}{{ entry.path }}
{{ c.divider }}{{ fill('-', min(cols, 96)) }}{{ reset }}
