{#- Date display macro -#}
{% macro entry_date(date) %}
  {%- if date -%}
    {{ c.entry_date }}
      {%- if cols > 42 -%}
        {{ date | datefmt('long') }}
      {%- else -%}
        {{ date | datefmt }}
      {%- endif -%}
    {{ c.entry_value }}
    {%- if cols > 60 -%}
      {#- #} ({{ date | longreldate }})
    {%- endif -%}
  {%- else -%}
    {{ c.entry_no_value }}--{{ reset }}
  {%- endif -%}
{% endmacro %}

{#- Tag list -#}
{%- set tags -%}
  {%- if entry.tags | length > 0 -%}
    {%- for tag in entry.tags -%}
      {{ tc[tag] | default(c.tag) }}+{{ tag }} {# -#}
    {%- endfor -%}
  {%- else -%}
    {{ c.entry_no_value }}--
  {%- endif -%}
  {{ reset }}
{%- endset -%}

{#- Max width -#}
{%- set maxw = min(cols, 96) -%}

{#- Field output -#}
{{ c.divider }}{{ fill('-', maxw) }}{{ reset }}
{{ entry.desc }}
{{ c.divider }}{{ fill('-', maxw) }}{{ reset }}
{{ c.entry_field }} status:   {{ c.entry_value }}{{ entry.status }}
{{ c.entry_field }} when:     {{ c.entry_value }}{{ entry_date(entry.when) }}
{{ c.entry_field }} due:      {{ c.entry_value }}{{ entry_date(entry.due) }}
{{ c.entry_field }} end:      {{ c.entry_value }}{{ entry_date(entry.end) }}
{{ c.entry_field }} repeat:   {{ c.entry_value }}{{ entry.repeat | default(c.entry_no_value ~ "--") }}
{{ c.entry_field }} tags:     {{ c.entry_value }}{{ tags }}

{{ c.entry_field }} created:  {{ c.entry_value }}{{ entry_date(entry.created) }}
{{ c.entry_field }} modified: {{ c.entry_value }}{{ entry_date(entry.modified) }}
{{ c.entry_field }} urgency:  {{ c.urgency }}{{ entry.urgency | numfmt('{:.3}') }}

{% if entry.sid -%}
  {{ c.entry_field }} sid:      {{ c.entry_value }}{{ entry.sid }}
{% endif -%}
{{ c.entry_field }} uuid:     {{ c.entry_value }}{{ break }}{{ entry.id | trunc(maxw - 11, '…') }}
{{ c.entry_field }} path:     {{ c.entry_value }}{{ entry.path }}
{{ c.divider }}{{ fill('-', min(cols, 96)) }}{{ reset }}
