{#- Group by day, with absolute and relative display -#}
{%- set caption -%}
  {{ c.divider }}---- {# #}
  {%- if group -%}
    {%- if now - group > 86400 -%}
      {{ c.header }}{{ group | datefmt('date') }} ({{ group | longreldate }}){{ reset }}
    {%- else -%}
      {{ c.header }}{{ group | datefmt('date') }} (today){{ reset }}
    {%- endif -%}
  {%- else -%}
    {{ c.header }}Pending{{ reset }}
  {%- endif -%}
  {# #} {# #}
{%- endset -%}
{%- set capw = caption | width -%}

{#- Max rendering width -#}
{%- set maxw = min(cols, 96) -%}

{#- Add padding for non-first group -#}
{%- if lineno > 0 %}
{% endif -%}

{{ caption }}{{ c.divider }}{{ fill('-', maxw - capw) }}{{ reset }}
