{#- Group by day, with absolute and relative display -#}
{% if group -%}
{# #}{{ c.divider }}---- {{ c.header }}{{ group | datefmt('date') }} ({{ group | longreldate }}){{ reset }}
{%- else -%}
{# #}{{ c.divider }}---- {{ c.header }}Pending{{ reset }}
{%- endif %}
