{#- Header caption -#}
{%- set caption -%}
  {{ fg(blue) }}---- {{ fg(lightwhite) }}{{ underline }}{{ title }} [{{ count }}]{{ reset }} {# -#}
{%- endset -%}
{%- set capw = caption | width -%}

{#- Max rendering width -#}
{%- set maxw = min(cols, 96) -%}

{{ caption }}{{ fg(blue) }}{{ fill('-', maxw - capw) }}{{ reset }}
