{{ fg(blue) }}{{ fill('-', min(cols, 96)) }}{{ reset }}
{{ issue.title }}

{#- Meta tags -#}
{% set created %}{{ issue.created | reldate }}{% endset %}
{%- set due -%}
  {%- if issue.date -%}
    {{ issue.due | reldate }}
  {%- else -%}
    {{ fg(lightblack) }}n/a{{ reset }}
  {%- endif -%}
{%- endset -%}

{#- Field output #}
{{ fg(blue) }}{{ fill('-', min(cols, 96)) }}{{ reset }}
{{ fg(lightblue) }} UUID:    {{ reset }}{{ issue.id }}
{{ fg(lightblue) }} Status:  {{ reset }}{{ issue.status }}
{{ fg(lightblue) }} Created: {{ reset }}{{ created }}
{{ fg(lightblue) }} Due:     {{ reset }}{{ due }}
{{ fg(lightblue) }} Tags:    {{ reset }}{{ issue.tags | length }}
{{ fg(lightblue) }} Path:    {{ reset }}{{ path }}
{{ fg(blue) }}{{ fill('-', min(cols, 96)) }}{{ reset }}
