{#- Created date -#}
{%- set created -%}
  {{ issue.created | datefmt('long') }} ({{ issue.created | longreldate }})
{%- endset -%}

{#- Modified date -#}
{%- set modified -%}
  {{ issue.created | datefmt('long') }} ({{ issue.modified | longreldate }})
{%- endset -%}

{#- Due date -#}
{%- set due -%}
  {%- if issue.due -%}
    {{ issue.due | datefmt('long') }} ({{ issue.due | longreldate }})
  {%- else -%}
    {{ fg(lightblack) }}--{{ reset }}
  {%- endif -%}
{%- endset -%}

{#- End date -#}
{%- set end -%}
  {%- if issue.end -%}
    {{ issue.end | datefmt }} ({{ issue.end | longreldate }})
  {%- else -%}
    {{ fg(lightblack) }}--{{ reset }}
  {%- endif -%}
{%- endset -%}

{#- Tag list -#}
{%- set tags -%}
  {%- if issue.tags | length > 0 -%}
    {%- for tag in issue.tags -%}
      {{ fg(magenta) }}#{{ fg(lightmagenta) }}{{ tag }} {# -#}
    {%- endfor -%}
  {%- else -%}
    {{ fg(lightblack) }}--
  {%- endif -%}
  {{ reset }}
{%- endset -%}

{#- Field output -#}
{{ fg(blue) }}{{ fill('-', min(cols, 96)) }}{{ reset }}
{{ issue.title }}
{{ fg(blue) }}{{ fill('-', min(cols, 96)) }}{{ reset }}
{{ fg(lightblue) }} Status:   {{ reset }}{{ issue.status }}
{{ fg(lightblue) }} Created:  {{ reset }}{{ created }}
{{ fg(lightblue) }} Modified: {{ reset }}{{ modified }}
{{ fg(lightblue) }} Due:      {{ reset }}{{ due }}
{{ fg(lightblue) }} End:      {{ reset }}{{ end }}
{{ fg(lightblue) }} Repeat:   {{ reset }}{{ issue.repeat | default(fg(lightblack) ~ "--") }}
{{ fg(lightblue) }} Tags:     {{ reset }}{{ tags }}

{% if sid -%}
{{ fg(lightblue) }} SID:      {{ reset }}{{ sid }}
{% endif -%}
{{ fg(lightblue) }} UUID:     {{ reset }}{{ issue.id }}
{{ fg(lightblue) }} Path:     {{ reset }}{{ path }}
{{ fg(blue) }}{{ fill('-', min(cols, 96)) }}{{ reset }}
