{#- Date display macro -#}
{% macro entry_date(date) %}
  {%- if date -%}
    {{ fg(lightwhite) }}
      {%- if cols > 42 -%}
        {{ date | datefmt('long') }}
      {%- else -%}
        {{ date | datefmt }}
      {%- endif -%}
    {{ reset }}
    {%- if cols > 60 -%}
      {#- #} ({{ date | longreldate }})
    {%- endif -%}
  {%- else -%}
    {{ fg(lightblack) }}--{{ reset }}
  {%- endif -%}
{% endmacro %}

{#- Tag list -#}
{%- set tags -%}
  {%- if entry.tags | length > 0 -%}
    {%- for tag in entry.tags -%}
      {{ fg(lightmagenta) }}+{{ tag }} {# -#}
    {%- endfor -%}
  {%- else -%}
    {{ fg(lightblack) }}--
  {%- endif -%}
  {{ reset }}
{%- endset -%}

{#- Line break -#}
{%- set break -%}
  {% if cols < 44 %}{{ "\n " }}{% endif %}
{%- endset -%}

{#- Max width -#}
{%- set maxw = min(cols, 96) -%}

{#- Field output -#}
{{ fg(blue) }}{{ fill('-', maxw) }}{{ reset }}
{{ entry.desc }}
{{ fg(blue) }}{{ fill('-', maxw) }}{{ reset }}
{{ fg(lightblue) }} status:   {{ reset }}{{ entry.status }}
{{ fg(lightblue) }} created:  {{ reset }}{{ entry_date(entry.created) }}
{{ fg(lightblue) }} modified: {{ reset }}{{ entry_date(entry.modified) }}
{{ fg(lightblue) }} due:      {{ reset }}{{ entry_date(entry.due) }}
{{ fg(lightblue) }} end:      {{ reset }}{{ entry_date(entry.end) }}
{{ fg(lightblue) }} repeat:   {{ reset }}{{ entry.repeat | default(fg(lightblack) ~ "--") }}
{{ fg(lightblue) }} tags:     {{ reset }}{{ tags }}

{{ fg(lightblue) }} urgency:  {{ reset }}{{ urgency | numfmt('{:.3}') }}

{% if sid -%}
  {{ fg(lightblue) }} sid:      {{ reset }}{{ sid }}
{% endif -%}
{{ fg(lightblue) }} uuid:     {{ reset }}{{ break }}{{ entry.id | trunc(maxw - 1, '…') }}
{{ fg(lightblue) }} path:     {{ reset }}{{ path }}
{{ fg(blue) }}{{ fill('-', min(cols, 96)) }}{{ reset }}
