{#- Shorthand ID -#}
{{ fg(brightblue) }}{{ "{:3}." | format(sid | default("   ", true)) }}

{#- Issue title -#}
{%- set title -%}{{ issue.title | firstline }}{%- endset -%}
{%- set titlew = title | ulength -%}

{#- Meta section -#}
{%- set meta -%}[{{ issue.tags | length }}]{%- endset -%}
{%- set metaw = meta | ulength -%}

{#- Title column -#}
{# #} {{ fg(brightgreen) }}{{ title }}{{ reset }} {{ fill('.', min(cols, 96) - titlew - metaw - 8) }} {{ meta }}
