{#- Max rendering width -#}
{%- set maxw = min(cols, 96) -%}

{#- Limit amount of visible tags based on terminal width -#}
{%- set taglimit = 2 if cols > 56 else 1 -%}

{#- Issue details section -#}
{%- set meta -%}
  {#- Tag list -#}
  {%- if cols > 32 -%}
    {%- for tag in issue.tags | batch(taglimit) | first -%}
      {{ fg(magenta) }}#{{ fg(lightmagenta) }}{{ tag }} {# -#}
    {%- endfor -%}
    {% if issue.tags | length > taglimit -%}
      {{ fg(magenta) }}+{{ issue.tags | length - taglimit }} {# -#}
    {% endif -%}
  {%- endif -%}
  {{- reset -}}

  {#- Due date -#}
  {%- if issue.due -%}
    / {# -#}
    {%- if issue.due >= now -%}
      {{ fg(lightwhite) }}
    {%- else -%}
      {{ fg(lightred) }}
    {%- endif -%}
    {{ issue.due | reldate }}{{ reset }} {# -#}
  {%- else -%}
    / {{ fg(lightblack) }}...{{ reset }} {# -#}
  {%- endif -%}

  {#- Urgency -#}
  / {{ fg(green) }}{{ urgency | numfmt('{:.1}') }}{{ reset }}
{%- endset -%}
{%- set metaw = meta | width -%}

{#- Issue title -#}
{%- set title | trunc(maxw - metaw - 8, '…') -%}
  {{ fg(lightcyan) }}{{ issue.title | firstline }}
{%- endset -%}
{%- set titlew = title | width -%}

{#- Shorthand ID -#}
{%- if sid -%}
{{ fg(lightblue) }}{{ sid | numfmt('{:3}. ') }}
{%- else -%}
  {{ fg(blue) }}{{ issue.id[0:4] }} {# -#}
{%- endif -%}

{#- Row output -#}
{{ title -}}
{{ reset }}{{ fg(lightblack) }} {{ fill('.', maxw - titlew - metaw - 8) }} {{ meta }}
