{#- Shorthand ID -#}
{{ fg(brightblue) }}{{ "{:3}." | format(sid | default("   ", true)) }}

{#- Issue title -#}
{%- set title -%}{{ issue.title | firstline }}{%- endset -%}
{%- set titlew = title | ulength -%}

{#- Meta section -#}
{%- set meta -%}[{{ issue.tags | length }}]{%- endset -%}

{#- Title column -#}
{# #} {{ fg(brightgreen) }}{{ title }}{{ reset }} {{ fill('.', 30 - titlew) }} {{ meta }}
