{#- Utility macros -#}

{#-
  Render tag list using tag colors defined in config.
  Limit defines how many are visible.
-#}
{% macro tag_list(limit) %}
  {%- for tag in entry.tags | batch(limit) | first -%}
    {{ tc[tag] | default(c.tag) }}+{{ tag }}{{ reset }} {# -#}
  {%- endfor -%}
  {% if entry.tags | length > limit -%}
    {{ c.tag }}+{{ entry.tags | length - limit }} {# -#}
  {% endif -%}
  {{- reset -}}
{% endmacro %}

{#-
  Render entry short ID or numeric handle, with color depending on status.
-#}
{% macro entry_id() %}
  {%- if entry.status == 'deleted' -%}
    {{ c.uuid_deleted }}
  {%- elif entry.status == 'completed' -%}
    {{ c.uuid_completed }}
  {%- elif entry.sid -%}
    {{ c.sid_pending }}
  {%- else -%}
    {{ c.uuid }}
  {%- endif -%}

  {%- if entry.sid -%}
    {{ entry.sid | lpad('   ') }}. {# -#}
  {%- else -%}
    {{ entry.id[0:4] }} {# -#}
  {%- endif -%}
  {{- reset -}}
{% endmacro %}

{#-
  Render entry depending on its status.
-#}
{% macro entry_title(truncate) %}
  {%- if entry.status == 'deleted' -%}
    {{ c.desc_deleted }}
  {%- elif entry.status == 'completed' -%}
    {{ c.desc_completed }}
  {%- elif entry.due -%}
    {%- if entry.due < now -%}
      {{ c.desc_overdue }}
    {%- else -%}
      {{ c.desc_due }}
    {%- endif -%}
  {%- else -%}
    {{ c.desc_pending }}
  {%- endif -%}
  {{- entry.desc | firstline | trunc(truncate, '…') -}}
  {{- reset -}}
{% endmacro %}

{#-
  Render entry status marks.
-#}
{% macro status_marks() %}
  {%- if entry.status == 'blocked' -%}
    {{ c.mark_blocked }} ||
  {%- elif entry.status == 'started' -%}
    {{ c.mark_started }} >>
  {%- endif -%}
  {%- if entry.repeat -%}
    {{ c.mark_repeat }} &
  {%- endif -%}
  {%- if cols > 64 and entry.desc | hasnote -%}
    {{ c.mark_note }} #
  {%- endif -%}
{% endmacro %}
